<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Token" value="NjQ0MjQzNjUwMDQ1NTQyNDIw.XlawBw.UKH2BjuQ-clExGO1hHV-xm_sw58" />
    <add key="YTApiKey" value="AIzaSyDPFZYd63MvDjlMzWgJh7Ux02lu26RhQD4" />
    <add key="Prefix" value="@" />
    <add key="SqlServer" value="Server=.;Database=DiscordNetBot;Trusted_Connection=True;MultipleActiveResultSets=True;" />
    <add key="SqlLogin" value="DiscordNetBot" />
    <add key="SqlPassword" value="ahahaelo640" />
  </appSettings>
</configuration>
